.umanit_easyadmintree_tree {
    list-style-type: none;
}
.umanit_easyadmintree_tree-item {
    position: relative;
    margin-top: 4px;
}
.umanit_easyadmintree_tree-item-label {
    display: block;
    padding: 8px 7px;
    color: var(--text-color);
    border: 1px solid var(--bs-border-color);
    border-radius: 0.375rem;
}
.umanit_easyadmintree_tree-item-actions {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 10px;
}
.umanit_easyadmintree_tree-item-action {
    padding: 0px 2px;
}
.umanit_easyadmintree_tree-item-label:hover {
    background-color: var(--table-hover-cell-bg);
}